.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
*.log
*.vsix
*.sh
*.txt
*.py
temp
Jenkinsfile*
images/doc
*.orig
*.html
test.json
notes.md